#chat_div {

    border: solid #000000 2px;
    width: 80%;
    min-width: 300px;
    padding: 0 4px 4px 4px;
}

#message_box {

    width: 80%;
    float: left;
    padding-right: 10px;
}

#chat {

    border: solid #808080 1px;
    margin-bottom: 7px;
    padding: 0px 8px 0px 8px;
    margin-top: 8px;
    max-height: 500px;
    overflow-y: scroll;
}

#message {

    width: 80%;
}

#submit {

    width: 7%;
}

#btn_file {

    width: 7%;
}

#fileselector {

    display: none;
    visibility: hidden;
}

#users_list {

    border-left: double grey 1px;
    height: 100%;
    float:left;
    padding-left: 10px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

#audio_int {
    font-family: u1f400;
    width: 50px;
    height: 50px;
}